body {
    background-color:rgb(138, 55, 0);
}

P {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    line-height: 1.6;
}

header {
    background-color: rgb(7, 20, 66);
    border-radius: 40px;
    border-bottom: 30px;

    margin-bottom: 17px;
    border-radius: 40px;
}

header li {
    list-style: none;
}
 header li a,
 header li a:visited{
    color: #000000;
 }
h1 {
    text-align: center;
}

main {
    background-color:#461c00(119, 54, 0);
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 40px;
}

.produto {
    border: 1px solid bisque(255, 161, 73);
    padding: 10px;
}


input {
    border: 1px solid rgba(0, 0, 0, 0.822);
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

